block {
  width: 100%;
  height: 100%;
}

#calculatorBody {
  width: 200px;
  height: 300px;
  border: 8px ridge #ff0000;
  background-color: #333333;
  text-align: center;
}

#displaySection {
  width: 98%;
  height: 19%;
  background-color: #aaaaaa;
  margin: 2px;
}

.buttonRow {
  width: 98%;
  height: 15.25%;
  background-color: #777777;
  margin: 2px;
}

#displaySection input {
  width: 80%;
  height: 25px;
  background-color: #ffffff;
  margin: 10px;
  text-align: right;
}

.numberButton {
  width: 20%;
  height: 80%;
  background-color: #000000;
  border-radius: 15px;
  float: left;
  margin: 2%;
  color: white;
  font-size: 1.2em;
  font-family: "Lucida Console", Verdana, Arial;
}

#plusMinus {
  font-size: 1.0em;
}

#close {
  background-color: #cc0000;
}

#power {
  float: right;
  margin-top: 2.5%;
  margin-right: 6.5%;
  background-color: #cc0000;
  color: white;
  width: 10%;
  height: 50%;
  font-size: 0.8em;
  font-family: "Lucida Console", Verdana, Arial;
}
